/* paleta de colores */

.bg-naranja{
    background-color: #ff9c00 !important;
}

.clr-naranja{
    color: #ff9c00 !important ;
}

.bg-amarillo{
    background-color: #fec300 !important ;
}

.clr-amarillo{
    color: #fec300 !important ;
}

.clr-white{
    color: white !important ;
}

.degradado-1{
    background:linear-gradient(-90deg, #ff9c00 , #fec300 ) !important;
}

label{
    color: white;
}

/* border */

.radius{
    border-radius: 15px !important ;
}