/* paleta de colores */

.bg-naranja{
    background-color: #ff9c00 !important;
}

.clr-naranja{
    color: #ff9c00 !important ;
}

.bg-amarillo{
    background-color: #fec300 !important ;
}

.clr-amarillo{
    color: #fec300 !important ;
}

.clr-white{
    color: white !important ;
}

.degradado-1{
    background:linear-gradient(-90deg, #ff9c00 , #fec300 ) !important;
}

label{
    color: white;
}

.bg-img{
    background-position: center center ;
    background-size: cover;
    height: 250px;
}

.img-slider{
    object-fit: cover;
    object-position: center center ;
    width: 100%;
}

.bold{
    font-weight: bold;
}

.testimony-wrap .icon {
    cursor: pointer;
}

/* ocultar */

.hide{
    display: none !important ;
}

/* forms */

.text-area{
    width: 100%;
}

/* bordes */

.border-white{
    border: #fff solid 2px ;
    border-radius: 15px;
}

.radius{
    border-radius: 20px;
}
/* clases bootstrap */

.form-control-p {
    height: 44px !important;
    color: #fff !important;
    font-size: 14px;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    width: 100%;
}

/* fixed-nav */

@media screen and (min-width:990px){
    .fixed-nav{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        background: white;
    }
}

@media screen and (max-width:989px){
    .fixed-nav-md{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: white;
        display: block !important;
    }

    .spacing-0{
        padding-left: 10px !important;
        margin-left: 0 !important;
    }
}
